h1 {
  margin: 0;
  padding-top: 10px;
  font-family: Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.recipe {
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  border: 3px solid #168b32;
  width: max-content;
  table-layout: auto;
}



.recipe td {
  
  padding: 5px;
}


.prep {
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  border-bottom: 1px solid #168b32;
}

.ingredient {
  text-align: left;
  vertical-align: middle;
  white-space: nowrap;
  border: 1px solid #168b32;
}

.instructions {
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  min-width: 60px;
  border-top: 1px solid #168b32;
  border-bottom: 1px solid #168b32;
  border-right: 1px solid #168b32;
}

  .step {
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    min-width: 40px;
    border-top: 1px solid #168b32;
    border-bottom: 1px solid #168b32;
    border-right: 1px solid #168b32;
}

.first {
  text-align: left;
}




